body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #624CAB;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: #30323D;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.box input[type=text], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    border: 2px solid #60D394;
    padding: 14px 10px;
    border-radius: 30px;
    outline: none;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 200px;
    border-color: #EE6055;
    transition: 0.40s;
}

.box input[type=submit]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    border: 2px solid #EE6055;
    padding: 14px 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.box input[type=submit]:focus{
    background: #EE6055;
}

.box a{
    color: #EE6055;
    text-align: center;
    text-decoration: none;
}