body{
    background: #624CAB;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.box{
    background: #30323D;
    width: 300px;
    padding: 40px;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h1{
    font-size: 30px;
    font-weight: 300;
}

.box input[type="text"]{
    margin: 15px auto;
    background: none;
    border: 2px solid #60D394;
    border-radius: 30px;
    padding: 14px;
    outline: none;
    color: white;
    text-align: center;
    display: block;
}

.box input[type="text"]:focus{
    width: 200px;
    border-color: #EE6055;
    transition: 0.40s;
}

.box input[type="submit"]{
    margin: 15px auto;
    background: none;
    border: 2px solid #EE6055;
    border-radius: 30px;
    padding: 14px 30px;
    outline: none;
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
}

.box input[type="submit"]:focus{
    background: #EE6055;
}

.box a{
    color: #EE6055;
    text-decoration: none;
}